.custom-textarea__form,
.custom-textarea__input,
.custom-textarea__button {
  background-color: #3e3a4f;
}

.custom-textarea__input {
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  padding: 0;
  border-color: #524b67;
  border-style: hidden;
  background-color: #3e3a4f;
}

.custom-textarea__button {
  cursor: pointer;
  border: unset;
  padding: 0;
}

.custom-textarea__form {
  width: 540px;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 16px 24px;
  border-radius: 8px;
}
