.feedback {
  background-color: rgba(24, 26, 29, 1);
  background-color: rgba(31, 21, 60, 1);
}

.feedback__text {
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  width: 334px;
  height: 160px;
  margin: 0;
  background-color: #243961;
  padding: 32px 40px;
  border-radius: 40px;
  position: absolute;
  top: 40px;
  left: 110px;
}

.feedback__wrap {
  position: absolute;
  top: 0;
}

.feedback--purple {
  position: absolute;
  top: 160px;
}

.feedback--green {
  position: absolute;
  top: 303px;
}

.feedback--purple .feedback__text {
  background-color: #61235f;
}

.feedback--green .feedback__text {
  background-color: #315c51;
}

.feedback__list {
  margin: 0;
  list-style-type: none;
}
