.main {
  background-color: rgba(24, 26, 29, 1);
  background-color: rgba(31, 21, 60, 1);
}

.main__wrap {
  padding: 100px 0 10px;
}

.main__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.main__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 520px;
}
